h1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper{
    display: grid;
    padding-left: 250px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

.wrapper:nth-child(16){
    grid-column: span 4;
    margin-bottom: 10px;
}