table{
 border: 2px solid #383838;
 border-collapse: collapse;
}

thead, tbody, tfoot, th, tr, td{
    padding: 5px;
}

.shoppingbg{
    height: auto;
    width: 100%;
    background: #f5f5f5;
}
.center-items{
    margin-left: auto;
    margin-right: auto;
}

.button {
    border: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
  }

.btn-link{
    text-decoration: none;
    color: inherit;
}

.btn-container{
    height: 100px;
    position: relative;
}
.btn-center{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-pay {
    background: #383838;
    color: #fff;
    margin-left: 25px;
}

.btn-pay:hover {
    background-color: #4CAF50;
    color: white;
}

.btn-clear {
    background-color: white;
    color: black;
    border: 1px solid #383838;
    margin-right: 25px;
}

.btn-clear:hover {
    background-color: #f44336;
    color: white;
}
